<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="./css/form.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/admin.css">
</head>
<body>

    <div class="admin-main">
    
  <h2>Hello Admin: Name</h2>
  
  <div class="actionlist">
    <P>Please select actions:</P>
    <ul>
        <!-- <li><a href="/price-list">Price List</a></li> -->
        <li><a href="/available-flights">Available Flights</a></li>
    </ul>
  </div>

</div>
    
</body>
</html>