<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm your Booking</title>
    <link rel="stylesheet" href="/css/bookingconf.css">
</head>
<body>

    <%-include('templates/_homeHeader') %>
 
    <div class="bookconf">
        <div class="popup confirmation">
            <%-include('templates/_bookingconfirmation.ejs')%>
          </div>        
    </div>

    
</body>
</html>