<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mobile.css">
</head>
<body>

    <div class="backblack"></div>
    <div class="navbar">
        <img src="/icon/nav.png" alt="">
    </div>
  <!-- header -->
  <%-include('templates/_homeHeader')%>
  <!-- end header -->

  <!-- main -->
  <section id="main">
    <div class="main">
       <!-- section top -->
       <div class="sectop sec">
        <p>Hello <%- user.name%>, <br>All set to travel with Us!!</p> 
      </div>
       <!-- end section top -->
       <!-- section bottom-->
       <div class="secbot sec">
          <div class="booking-form form booking-info">
           <!-- form -->
           <form action="/api/selectFlight" method="post" >
           <div class="fsec fromcity">
               <label for="fromcity">From</label>
               <select name="fromcity" id="city" required>
               <option value="Mumbai">Mumbai</option>
               <option value="Delhi">Delhi</option>
               <option value="Chennai">Chennai</option>
                <option value="Kolkata">Kolkata</option>
                </select>
               </div>
               <div class="fsec fimg">
                   <img src="img/transfer.png" alt="">
               </div>
               <div class="fsec tocity">
                   <label for="to">To</label>
                   <select name="tocity" id="city" required>
                       <option value="Mumbai">Mumbai</option>
                       <option value="Delhi">Delhi</option>
                       <option value="Chennai">Chennai</option>
                       <option value="Kolkata">Kolkata</option>
                     </select>
               </div>
               <hr>
               <div class="fsec travel">
                   <label for="traveller">Travellers</label>
                   <input type="number" name="traveller" min="0" required>
               </div>
               <hr>
               <div class="fsec date">
                   <label for="date">Date</label>
                   <input type="date"  name="date" required><br><br>
               </div>
               <div class="fsec fbtn">
                   <button>Book Now</button>
               </div>
           </form>
           <!-- end form -->
       </div>
       </div>
    </div>
    <!-- end section bottom -->
   </section>
   <!-- end main -->


   <!-- footer -->
   <%-include('templates/_footer')%>
   <!-- end footer -->
    
</body>
</html>