<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Trips</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="backblack"></div>
    <div class="navbar">
        <img src="/icon/nav.png" alt="">
    </div>
  <!-- header -->
  <%-include('templates/_homeHeader')%>
  <!-- end header -->

  <%-include('templates/_trips') %>
   
</body>
</html>