
    <!-- footer -->
    <section id="footer">
        <div class="footer">

          <div class="footleft footsec">
                <span>Copyright 2023, All Rights Reserved.</span>
          </div>
          <div class="footright footsec">
              <h2>Follow Us:</h2>
              <ul>
                <li><a href="#"><img src="/icon/fb.png" alt=""></a></li>
                <li><a href="#"><img src="/icon/insta.png" alt=""></a></li>
                <li><a href="#"><img src="/icon/twitter.png" alt=""></a></li>    
            </ul>
          </div>
          
        </div>
    </section>
     <!-- end footer -->