  <!-- headers -->
  <section id="header">
    <div class="header">
      <div class="logo">
          <h2><a href="/">Ticket Booking App</a></h2>
      </div>
      <div class="nav">
          <div class="navlist">
            <a href="/home" class="navitem navtrip">
              <div class="img">
               <img src="/icon/home.png" alt="">
              </div>
              <div class="nav-i">
               <p>Home</p>
              </div>
          </a>
            <a href="/login" class="navitem navtrip">
                <div class="img">
                 <img src="/icon/trip.png" alt="">
                </div>
                <div class="nav-i">
                 <p>My Trips</p>
                </div>
            </a>
            <a href="/login" class="navitem profile">
                <div class="img">
                <img src="/icon/profile.png" alt="">
               </div>
               <div class="nav-i">
                <p>Profile</p>
               </div>
            </a>
            <a href="/signup" class="navitem signup">
                Sign Up
            </a>  
            <a href="/login"  class="navitem login">
                Login
            </a>
        </div>
      </div>
    </div>
  </section>
  <!-- end headers -->