  <!-- headers -->
  <section id="header">
    <div class="header">
      <div class="logo">
          <h2><a href="/">Logo</a></h2>
      </div>
      <div class="nav">
          <div class="navlist">
            <a href="/home" class="navitem navtrip">
                <div class="img">
                 <img src="/icon/home.png" alt="">
                </div>
                <div class="nav-i">
                 <p>Home</p>
                </div>
            </a>
            <a href="/trips" class="navitem navtrip">
                <div class="img">
                 <img src="/icon/trip.png" alt="">
                </div>
                <div class="nav-i">
                 <p>My Trips</p>
                </div>
            </a>
            <a href="/profile" class="navitem profile">
                <div class="img">
                <img src="/icon/profile.png" alt="">
               </div>
               <div class="nav-i">
                <p>Profile</p>
               </div>
            </a>
            <a href="/logout" class="navitem signup">
                Logout
            </a>  
        </div>
      </div>
    </div>
  </section>
  <!-- end headers -->